{% extends 'home/base.html' %}

{% block content %}
<div>
    {% comment %} <div style='display:flex; justify-content: end'>
        <button>
            Register
        </button>
        <button>
            Login
        </button>
    </div> {% endcomment %}
    <div style='margin-top: 3rem'>
        <div class='compliance-banner'>
            <h1 style='color: black; font-weight: bold'>Developer Compliance </h1>
        </div>
        <div class='mt-4'>
            <h2>Who is a Developer</h2>
            <p>
                They are professionals that help procure land, finance projects and 
                oversee a range of tasks related to transforming a plot of land into a 
                property available for purchase
            </p>

            <h2>Current  Policies</h2>
            <p>
                -The developers do not have an authority they answer to, they are business people guided by profits.
                -currently they are not guided by any policies, 
                        </p>
                        <p>T-hey just have a club not authorised by the government
                            the club name is Kenya Property Developers Association.</p>

            <h2>Key Policies</h2>
            <p>
                - Creating an Authority Body that will oversee the operations of developers.
                -An regulatory body that the developer will answer to.
            </p>
            <p>
                -Specic policies that will guide the operations of developers.
                -Developers who work on highrise building have licences.
                -Developers must follow the Physical Planning Act. and the building Code guide that guide DEVELOPMENT.
                -Set ratio must be followed.(eg.One Acre Land  must have a maximum of 400 units in a 7 stories building)...
                -Minimum size of units must be set.
            </p>
            <p>
                - Licences must be revoked if the developer does not follow the set policies.
                -Upon revokation of the licence, the developer must be blacklisted and he or she cannot participate in construction of buildings within images/kilimani1.jpg
            </p>
            <p>
                -The developer must be heavily fined if they do not follow the set policies.
                -The developer must be held accountable for any damages that may occur during construction.
                -The developer must be held accountable for any damages that may occur during construction.
        </div>
        
    </div>
    {% comment %} <div class="container text-center mt-5">
        <div class="p-5 custom-background  shadow-sm">
          <h1 class="display-4 font-weight-bold">Who is a Developer.</h1>
          <p>They are professionals that help procure land, 
            finance projects and oversee a range of tasks related to transforming a plot of land into a property
             available for purchase.</p>
             <p>In layman language developers are enterprenuers guided by policies not profits</P>
          <p class="lead text-muted">Sponsored by the Kilimani Foundation</p>
          <a href="#" class="btn btn-primary mr-2">Get Involved</a>
          <a href="#" class="btn btn-secondary">Learn More</a>
        </div>
      </div>  {% endcomment %}
    
      
      
</div>
{% endblock %} 