{% extends 'home/base.html' %}

{% block content %}
<div style='color:white; margin-top: 3rem'>
    <div class='compliance-banner'>
        <h1 style='color: black; font-weight: bold'>Developer Compliance </h1>
    </div>
    <div class='mt-4'>
        <h2>Who is a Developer</h2>
        <p>
            They are professionals that help procure land, finance projects and 
            oversee a range of tasks related to transforming a plot of land into a 
            property available for purchase
        </p>
    </div>
</div>
{% endblock %} 